*{
	margin: 0;
	padding: 0;
}
body{

}

#principal{
	background-color: blue;
	display: flex;
	background-color: #111111;
	height: 45px;
}
#principal a{
	text-decoration: none;
	font-family: 'Prosto One', cursive;
	color: #00CCFF;
	font-weight: bold;
	font-size: 22px;
	margin: auto 20px;
}
span{
	color: #97FF6B;
}
#primeira{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #cfcfcf ;	
}
#segunda{
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: #eaeaea;
}

/*Div principal - Está div serve para centralizar os inputs*/
#terceira{
	width: 400px;
	height: 150px;
	position: absolute;
	margin: 0 50%;
	transform: translateX(-50%);
	top: 50px;	
	display: flex;	
	background-color: #00785a;
	position: relative;
	border-radius: 10px;
}

/*ccaixa de entrada*/
input{
	text-transform: uppercase;
}
#entrada{
	margin: auto auto;
	height: 39px;
	background: rgba(0,0,0,.3);
	color: #feba00;
	border: 1px solid #004530;
	border-radius: 3px;
	font-size: 14px;
	text-shadow: 0 1px #000;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
	text-align: center;
	font-weight: bold;
	line-height: 1.6;
	font-family: inherit;
	width: 150px;
}
#btn{
	color: #483704;
	background-color: #edb408;
	padding: 0px;
	background: linear-gradient(to bottom,#f5cb08,#ebae08);
	box-shadow: inset 0 1px 1px rgba(255,255,255,.45),0 1px 1px rgba(0,0,0,.45);
	border: none;
	cursor: pointer;
	font-size: 1.25em;
	font-weight: bold;
	line-height: normal;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	transition: background-color 300ms ease-out;
	width: 45px;
	height: 39px;


}

button{	
	margin: auto auto;	
}
